<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="qedit" class="nav-link px-2 text-white">Редактор</a></li>
          <li><a routerLink="qview" class="nav-link px-2 text-white">Просмотр</a></li>
          <li><a routerLink="parsing" class="nav-link px-2 text-white">Парсинг</a></li>
          <li><a routerLink="bankedit" class="nav-link px-2 text-white">Редактор банка</a></li>
          <li><a routerLink="test" class="nav-link px-2 text-white">Тест</a></li>
        </ul>
      </div>
    </div>
</header>