{{vopr}}
<br><br>
<div style="white-space: pre-wrap" [innerHTML]="Pereb()"></div>
<br>
<p *ngFor="let item of otv; let i = index">{{i+1}} - {{item}}</p>
<p>Введите номер ответа</p>
<form (submit)="Func(text.value)" >  
    <div>
        <input type="text" #text>
        <button type="submit">d</button>
    </div>
</form>
<br>
<p style="white-space: pre-wrap">{{rez}}</p>

<br>
<br>

<br>
<form (submit)="Check()">
    <p>{{vop.vopr}}</p>
    <div *ngFor="let item of vop.variants; let i = index" class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value= {{item.rez}} >
        <label class="form-check-label" for="flexRadioDefault1">
            {{item.litera}} - {{item.text}}
        </label>
    </div>
    <button type="submit" id="one">Отправить</button>
    <br><br>
    {{rezult}}
</form>