<form (submit)="Check()">
    <div *ngFor="let q of globalService.cbank.quests; let a = index">
        {{q.vopr}}
        <div *ngFor="let item of globalService.cbank.quests[a].variants; let i = index" class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault{{a}}" id="flexRadioDefault" value= {{globalService.cbank.quests[a].variants[i].rez}}>
            <label class="form-check-label" for="flexRadioDefault1">
                {{globalService.cbank.quests[a].variants[i].litera}} - {{globalService.cbank.quests[a].variants[i].text}}
            </label>
        </div><br>               
    </div>
    <button type="submit" id="one">Отправить</button><hr>
    <p>{{vivod}}</p>
</form>

